{% for key, item in items %}
  {% if keys[key].show %}
    <label>{{ keys[key].label }}</label>
    {% if keys[key].date %}
      <div>{{ item|date(keys[key].date) }}</div>
    {% else %}
      <div>{{ item }}</div>
    {% endif %}
  {% endif %}
{% endfor %}
